.row
{
    .row__col
    {
        padding: 0 10px;

        &:first-child
        {
            padding-left: 0;
        }

        &:last-child
        {
            padding-right: 0;
        }
    }
}
