.*.swp

.project
.settings/
.idea/

.bem/cache
.bem/snapshots
.enb/tmp
node_modules
npm-debug.log
libs
.libs-*

*.bundles/*/*
!*.bundles/.bem/*
!*.bundles/*/blocks
!*.bundles/*/*.bemjson.js
*.bundles/*/_*.bemjson.js

/coverage
/coverage.json
/gemini-report/

/dist
/*.docs
/*.examples
/*.specs
/*.tests
/*.sets
/*.tmpl-specs
