.idea
node_modules
.tmp
libs
test/libs
.DS_Store
.project
.bem/cache/
*.pages/*/*.*
!*.pages/*/*.bemjson.js
!*.pages/.bem/*
.libs-*/

/*.docs
/*.examples
/*.specs
/*.tests
/*.sets
/*.tmpl-specs

public/assets
public/*.html
