.row_flexbox_disabled
{
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    width: 100%;

    .row__col
    {
        position: relative;
        display: table-cell;
        flex: 1;
        flex-direction: column;
        white-space: nowrap;
    }
}
