mantle_undress(size)
    .mantle_undress_{size}
        display: none !important


@media small_up
    mantle_undress(s)

@media medium_up
    mantle_undress(m)

@media large_up
    mantle_undress(l)        
