/* ../../common.blocks/variables/variables.styl:begin */
/* ../../common.blocks/variables/variables.styl:end */
/* ../../common.blocks/calc/__rem/calc__rem.styl:begin */
/* ../../common.blocks/calc/__rem/calc__rem.styl:end */
/* ../../common.blocks/mq/mq.styl:begin */
/* ../../common.blocks/mq/mq.styl:end */
/* ../../common.blocks/row/row.styl:begin */
.row {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row .row {
  padding: 0;
}
@media screen {
  .row_sal {
    justify-content: flex-start;
    text-align: start;
  }
  .row_sac {
    justify-content: center;
    text-align: center;
  }
  .row_sar {
    justify-content: flex-end;
    text-align: end;
  }
  .row_svat {
    align-items: flex-start;
  }
  .row_svam {
    align-items: center;
  }
  .row_svab {
    align-items: flex-end;
  }
}
@media screen and (min-width : 40.063em) {
  .row_mal {
    justify-content: flex-start;
    text-align: start;
  }
  .row_mac {
    justify-content: center;
    text-align: center;
  }
  .row_mar {
    justify-content: flex-end;
    text-align: end;
  }
  .row_mvat {
    align-items: flex-start;
  }
  .row_mvam {
    align-items: center;
  }
  .row_mvab {
    align-items: flex-end;
  }
}
@media screen and (min-width : 64.063em) {
  .row_lal {
    justify-content: flex-start;
    text-align: start;
  }
  .row_lac {
    justify-content: center;
    text-align: center;
  }
  .row_lar {
    justify-content: flex-end;
    text-align: end;
  }
  .row_lvat {
    align-items: flex-start;
  }
  .row_lvam {
    align-items: center;
  }
  .row_lvab {
    align-items: flex-end;
  }
}
@media screen and (min-width : 90.063em) {
  .row_xlal {
    justify-content: flex-start;
    text-align: start;
  }
  .row_xlac {
    justify-content: center;
    text-align: center;
  }
  .row_xlar {
    justify-content: flex-end;
    text-align: end;
  }
  .row_xlvat {
    align-items: flex-start;
  }
  .row_xlvam {
    align-items: center;
  }
  .row_xlvab {
    align-items: flex-end;
  }
}
@media screen and (min-width : 120.063em) {
  .row_xxlal {
    justify-content: flex-start;
    text-align: start;
  }
  .row_xxlac {
    justify-content: center;
    text-align: center;
  }
  .row_xxlar {
    justify-content: flex-end;
    text-align: end;
  }
  .row_xxlvat {
    align-items: flex-start;
  }
  .row_xxlvam {
    align-items: center;
  }
  .row_xxlvab {
    align-items: flex-end;
  }
}
/* ../../common.blocks/row/row.styl:end */
/* ../../common.blocks/row/_flexbox/row_flexbox_disabled.styl:begin */
.row_flexbox_disabled {
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.row_flexbox_disabled .row__col {
  position: relative;
  display: table-cell;
  flex: 1;
  flex-direction: column;
  white-space: nowrap;
}
/* ../../common.blocks/row/_flexbox/row_flexbox_disabled.styl:end */
/* ../../common.blocks/row/__col/row__col.styl:begin */
.row__col {
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  max-width: 100%;
}
@media screen {
  .row__col_sw_1 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.3333333333333%;
    max-width: 8.3333333333333%;
  }
  .row__col_sw_2 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6666666666667%;
    max-width: 16.6666666666667%;
  }
  .row__col_sw_3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .row__col_sw_4 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333333333333%;
    max-width: 33.3333333333333%;
  }
  .row__col_sw_5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.6666666666667%;
    max-width: 41.6666666666667%;
  }
  .row__col_sw_6 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .row__col_sw_7 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.3333333333333%;
    max-width: 58.3333333333333%;
  }
  .row__col_sw_8 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6666666666667%;
    max-width: 66.6666666666667%;
  }
  .row__col_sw_9 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .row__col_sw_10 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.3333333333333%;
    max-width: 83.3333333333333%;
  }
  .row__col_sw_11 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.6666666666667%;
    max-width: 91.6666666666667%;
  }
  .row__col_sw_12 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
  .row__col_so_1 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 8.3333333333333%;
  }
  .row__col_so_2 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 16.6666666666667%;
  }
  .row__col_so_3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 25%;
  }
  .row__col_so_4 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 33.3333333333333%;
  }
  .row__col_so_5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 41.6666666666667%;
  }
  .row__col_so_6 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 50%;
  }
  .row__col_so_7 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 58.3333333333333%;
  }
  .row__col_so_8 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 66.6666666666667%;
  }
  .row__col_so_9 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 75%;
  }
  .row__col_so_10 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 83.3333333333333%;
  }
  .row__col_so_11 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 91.6666666666667%;
  }
  .row__col_s {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .row__col_sof {
    order: -1;
  }
  .row__col_sol {
    order: 1;
  }
}
@media screen and (max-width : 40em) {
  .row__col_sw_0 {
    display: none;
  }
}
@media screen and (min-width : 40.063em) {
  .row__col_mw_1 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.3333333333333%;
    max-width: 8.3333333333333%;
  }
  .row__col_mw_2 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6666666666667%;
    max-width: 16.6666666666667%;
  }
  .row__col_mw_3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .row__col_mw_4 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333333333333%;
    max-width: 33.3333333333333%;
  }
  .row__col_mw_5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.6666666666667%;
    max-width: 41.6666666666667%;
  }
  .row__col_mw_6 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .row__col_mw_7 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.3333333333333%;
    max-width: 58.3333333333333%;
  }
  .row__col_mw_8 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6666666666667%;
    max-width: 66.6666666666667%;
  }
  .row__col_mw_9 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .row__col_mw_10 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.3333333333333%;
    max-width: 83.3333333333333%;
  }
  .row__col_mw_11 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.6666666666667%;
    max-width: 91.6666666666667%;
  }
  .row__col_mw_12 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
  .row__col_mo_1 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 8.3333333333333%;
  }
  .row__col_mo_2 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 16.6666666666667%;
  }
  .row__col_mo_3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 25%;
  }
  .row__col_mo_4 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 33.3333333333333%;
  }
  .row__col_mo_5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 41.6666666666667%;
  }
  .row__col_mo_6 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 50%;
  }
  .row__col_mo_7 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 58.3333333333333%;
  }
  .row__col_mo_8 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 66.6666666666667%;
  }
  .row__col_mo_9 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 75%;
  }
  .row__col_mo_10 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 83.3333333333333%;
  }
  .row__col_mo_11 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 91.6666666666667%;
  }
  .row__col_m {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .row__col_mof {
    order: -1;
  }
  .row__col_mol {
    order: 1;
  }
}
@media screen and (min-width : 40.063em) and (max-width : 64em) {
  .row__col_mw_0 {
    display: none;
  }
}
@media screen and (min-width : 64.063em) {
  .row__col_lw_1 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.3333333333333%;
    max-width: 8.3333333333333%;
  }
  .row__col_lw_2 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6666666666667%;
    max-width: 16.6666666666667%;
  }
  .row__col_lw_3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .row__col_lw_4 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333333333333%;
    max-width: 33.3333333333333%;
  }
  .row__col_lw_5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.6666666666667%;
    max-width: 41.6666666666667%;
  }
  .row__col_lw_6 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .row__col_lw_7 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.3333333333333%;
    max-width: 58.3333333333333%;
  }
  .row__col_lw_8 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6666666666667%;
    max-width: 66.6666666666667%;
  }
  .row__col_lw_9 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .row__col_lw_10 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.3333333333333%;
    max-width: 83.3333333333333%;
  }
  .row__col_lw_11 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.6666666666667%;
    max-width: 91.6666666666667%;
  }
  .row__col_lw_12 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
  .row__col_lo_1 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 8.3333333333333%;
  }
  .row__col_lo_2 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 16.6666666666667%;
  }
  .row__col_lo_3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 25%;
  }
  .row__col_lo_4 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 33.3333333333333%;
  }
  .row__col_lo_5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 41.6666666666667%;
  }
  .row__col_lo_6 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 50%;
  }
  .row__col_lo_7 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 58.3333333333333%;
  }
  .row__col_lo_8 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 66.6666666666667%;
  }
  .row__col_lo_9 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 75%;
  }
  .row__col_lo_10 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 83.3333333333333%;
  }
  .row__col_lo_11 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 91.6666666666667%;
  }
  .row__col_l {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .row__col_lof {
    order: -1;
  }
  .row__col_lol {
    order: 1;
  }
}
@media screen and (min-width : 64.063em) and (max-width : 90em) {
  .row__col_lw_0 {
    display: none;
  }
}
@media screen and (min-width : 90.063em) {
  .row__col_xlw_1 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.3333333333333%;
    max-width: 8.3333333333333%;
  }
  .row__col_xlw_2 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6666666666667%;
    max-width: 16.6666666666667%;
  }
  .row__col_xlw_3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .row__col_xlw_4 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333333333333%;
    max-width: 33.3333333333333%;
  }
  .row__col_xlw_5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.6666666666667%;
    max-width: 41.6666666666667%;
  }
  .row__col_xlw_6 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .row__col_xlw_7 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.3333333333333%;
    max-width: 58.3333333333333%;
  }
  .row__col_xlw_8 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6666666666667%;
    max-width: 66.6666666666667%;
  }
  .row__col_xlw_9 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .row__col_xlw_10 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.3333333333333%;
    max-width: 83.3333333333333%;
  }
  .row__col_xlw_11 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.6666666666667%;
    max-width: 91.6666666666667%;
  }
  .row__col_xlw_12 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
  .row__col_xlo_1 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 8.3333333333333%;
  }
  .row__col_xlo_2 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 16.6666666666667%;
  }
  .row__col_xlo_3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 25%;
  }
  .row__col_xlo_4 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 33.3333333333333%;
  }
  .row__col_xlo_5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 41.6666666666667%;
  }
  .row__col_xlo_6 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 50%;
  }
  .row__col_xlo_7 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 58.3333333333333%;
  }
  .row__col_xlo_8 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 66.6666666666667%;
  }
  .row__col_xlo_9 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 75%;
  }
  .row__col_xlo_10 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 83.3333333333333%;
  }
  .row__col_xlo_11 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 91.6666666666667%;
  }
  .row__col_xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .row__col_xlof {
    order: -1;
  }
  .row__col_xlol {
    order: 1;
  }
}
@media screen and (min-width : 90.063em) and (max-width : 120em) {
  .row__col_xlw_0 {
    display: none;
  }
}
@media screen and (min-width : 120.063em) {
  .row__col_xxlw_1 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.3333333333333%;
    max-width: 8.3333333333333%;
  }
  .row__col_xxlw_2 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6666666666667%;
    max-width: 16.6666666666667%;
  }
  .row__col_xxlw_3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .row__col_xxlw_4 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333333333333%;
    max-width: 33.3333333333333%;
  }
  .row__col_xxlw_5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.6666666666667%;
    max-width: 41.6666666666667%;
  }
  .row__col_xxlw_6 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .row__col_xxlw_7 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.3333333333333%;
    max-width: 58.3333333333333%;
  }
  .row__col_xxlw_8 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6666666666667%;
    max-width: 66.6666666666667%;
  }
  .row__col_xxlw_9 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .row__col_xxlw_10 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.3333333333333%;
    max-width: 83.3333333333333%;
  }
  .row__col_xxlw_11 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.6666666666667%;
    max-width: 91.6666666666667%;
  }
  .row__col_xxlw_12 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
  .row__col_xxlo_1 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 8.3333333333333%;
  }
  .row__col_xxlo_2 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 16.6666666666667%;
  }
  .row__col_xxlo_3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 25%;
  }
  .row__col_xxlo_4 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 33.3333333333333%;
  }
  .row__col_xxlo_5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 41.6666666666667%;
  }
  .row__col_xxlo_6 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 50%;
  }
  .row__col_xxlo_7 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 58.3333333333333%;
  }
  .row__col_xxlo_8 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 66.6666666666667%;
  }
  .row__col_xxlo_9 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 75%;
  }
  .row__col_xxlo_10 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 83.3333333333333%;
  }
  .row__col_xxlo_11 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 91.6666666666667%;
  }
  .row__col_xxl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .row__col_xxlof {
    order: -1;
  }
  .row__col_xxlol {
    order: 1;
  }
}
@media screen and (min-width : 120.063em) and (max-width : 99999999em) {
  .row__col_xxlw_0 {
    display: none;
  }
}
/* ../../common.blocks/row/__col/row__col.styl:end */
/* ../../design/promo.blocks/box/box.styl:begin */
.box {
  position: relative;
  box-sizing: border-box;
  min-height: 2rem;
  line-height: 2rem;
  margin-bottom: 10px;
  background: #34495e;
  border: 1px solid #fff;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
/* ../../design/promo.blocks/box/box.styl:end */
/* ../../design/promo.blocks/example/__source/example__source.styl:begin */
.example__source {
  padding: 10px 20px;
}
/* ../../design/promo.blocks/example/__source/example__source.styl:end */
/* ../../design/promo.blocks/link/link.styl:begin */
.link {
  color: #34495e;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
/* ../../design/promo.blocks/link/link.styl:end */
/* ../../libs/bem-components/common.blocks/image/image.styl:begin */
.image {
  border: 0;
}
/* ../../libs/bem-components/common.blocks/image/image.styl:end */
