// GRID ========================================================================
$total_columns = 12;

// PONTERS =====================================================================
$small_start   = 40em;
$medium_start  = 40.063em;
$medium_stop   = 64em;
$large_start   = 64.063em;
$large_stop    = 90em;
$xlarge_start  = 90.063em;
$xlarge_stop   = 120em;
$xxlarge_start = 120.063em;
$xxlarge_stop  = 99999999em;
