rem_base      = 16px;
line_base     = 20px;

// BASE FONTS ==================================================================

font_family   = Helvetica, Arial, sans-serif;
font_size     = 14px;

/*
* HEADING:
* h*_scale * rem_font_size
* rem_font_size = remify(font_size)
* headings sizes step is 0.375rem = 6px
*/

h_font_family = font_family;
h_font_weight = 500;

h1_scale      = 3;
h2_scale      = 2.625;
h3_scale      = 2.25;
h4_scale      = 1.875;

/*
* PARAGRAPH:
* lead mod will be scaled from rem_font_size (block `calc`, elem `rem`)
*/
p_lead_scale  = 1.25;

/*
* BLOCKQUOTE:
*/
q_scale       = 1.25;
