// CONTENT =====================================================================
page_width    = 1000px;

// GRID ========================================================================
total_columns = 12;
row_padding   = 0;
col_padding   = 0;
