/*
* SMALL DISPLAYS:
*/
@custom-media --small screen;
@custom-media --small-only screen and (max-width: 40em);

/*
* MEDIUM DISPLAYS:
*/
@custom-media --medium screen and (min-width: 40.063em);
@custom-media --medium-only screen and (min-width: 40.063em) and (max-width: 64em);

/*
* LARGE DISPLAYS:
*/
@custom-media --large screen and (min-width: 64.063em);
@custom-media --large-only screen and (min-width: 64.063em) and (max-width: 90em);

/*
* XLARGE DISPLAYS:
*/
@custom-media --xlarge screen and (min-width: 90.063em);
@custom-media --xlarge-only screen and (min-width: 90.063em) and (max-width: 120em);

/*
* XXLARGE DISPLAYS:
*/
@custom-media --xxlarge screen and (min-width: 120.063em);
@custom-media --xxlarge-only screen and (min-width: 120.063em) and (max-width: 99999999em);
