ctx = '.row'

{ctx}_no-flexbox
    box-sizing:   border-box
    display:      table
    table-layout: fixed
    width:        100%

    {ctx}__col
        position:       relative
        display:        table-cell
        flex:           1
        flex-direction: column
        white-space:    nowrap
