.box
    position:      relative
    box-sizing:    border-box
    min-height:    2rem
    margin-bottom: 10px
    background:    #34495e
    border:        1px solid #FFF
    border-radius: 2px
    overflow:      hidden
    text-align:    center
    color:         #fff
