ctx = '.line'

strip_unit(num)
    num / (num * 0 + 1)

convert_to_rem(value)
    value = (strip_unit(value) / strip_unit(rem_base) * 1)
    if (value == 0)
        value = 0
    return unit(value, 'rem')

line(nest = false)

    if nest
        width:         auto
        margin-top:    0
        margin-bottom: 0
        max-width:     none

    else
        width:     100%
        margin:    0 auto
        max-width: convert_to_rem(page_width)

clearfix()
    &:before, &:after
        clear:   both
        content: ' '
        display: table

{ctx}
    line()
    clearfix()

    {ctx}
        line(nest: true)
        clearfix()
