.page
{
    padding: 10px;
    .heading {
        font-family: 'PT Sans';
        font-weight: normal;
        text-transform: uppercase;

        .link {
            color: #121212;
        }
    }

    .section {
        margin-bottom: 30px;
    }

    &__footer {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid;

        font-family: 'PT Sans';
    }
}
