h1, h2, h3, h4
    font-family: h_font_family
    font-weight: h_font_weight

h1
    font-size:     rem_font_size   * h1_scale
    line-height:   rem_line_height * h1_scale
    margin-top:    2 * rem_font_size
    margin-bottom: 1 * rem_font_size

h2
    font-size:     rem_font_size   * h2_scale
    line-height:   rem_line_height * h2_scale
    margin-top:    2 * rem_font_size
    margin-bottom: 1 * rem_font_size

h3
    font-size:     rem_font_size   * h3_scale
    line-height:   rem_line_height * h3_scale
    margin-top:    2 * rem_font_size
    margin-bottom: 1 * rem_font_size

h4
    font-size:     rem_font_size   * h4_scale
    line-height:   rem_line_height * h4_scale
    margin-top:    2 * rem_font_size
    margin-bottom: 1 * rem_font_size

p
    margin-top:    rem_line_height
    margin-bottom: rem_line_height
