// GRID SETTINGS
$page_width:         1000;
$grid_columns_count: 12;

$rem_base:      16px;
$total_columns: $grid_columns_count;
$line_width:    convert_to_rem($page_width, $rem_base);
$column_gutter: convert_to_rem(30, $rem_base);

// MEDIA QUERIES
$screen:      "only screen";

$landscape:   "#{$screen} and (orientation: landscape)";
$portrait:    "#{$screen} and (orientation: portrait)";

$small_up:    $screen;
$small_only:  "#{$screen} and (max-width: 40em)";

$medium_up:   "#{$screen} and (min-width: 40.063em)";
$medium_only: "#{$screen} and (min-width: 40.063em) and (max-width: 64em)";

$large_up:    "#{$screen} and (min-width: 64.063em)";
$large_only:  "#{$screen} and (min-width: 64.063em) and (max-width: 90em)";

$small:  $medium_up;
$medium: $medium_up;
$large:  $large_up;
