.share_theme_simple
{
    font-weight: bold;
    padding: 0.2em 0.6em;
    text-decoration: none;
    color: #FFF;

    &.share_size_s
    {
        font-size: 14px;
    }
    &.share_size_m
    {
        font-size: 16px;
    }
    &.share_size_l
    {
        font-size: 18px;
    }
    &.share_size_xl
    {
        font-size: 20px;
    }

    &.share_service_blogger { background-color: #f26300; }
    &.share_service_facebook { background-color: #3B5998; }
    &.share_service_gplus { background-color: #CC3732; }
    &.share_service_twitter { background-color: #00ACED; }
    &.share_service_vkontakte { background-color: #4D75A3; }

}
