strip_unit(num)
    num / (num * 0 + 1)

convert_to_rem(value)
    value = (strip_unit(value) / strip_unit(rem_base) * 1)
    if (value == 0)
        value = 0
    return unit(value, 'rem')

ctx = '.grid'

{ctx}
    margin:    0 auto
    padding:   grid_padding
    max-width: convert_to_rem(page_width)
