.heading {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.9);
}

.heading_lvl_1 {
  margin-top: 40px;
  font-size: 64px;
}

.heading_lvl_2 {
  margin: 80px 0;
  font-size: 42px;
}
